/* 960px - 750px */
#search-bar {
  width: 20%;
  margin-right: 10px;
}

.search-submit {
  display: none;
}

#search-bar #search-input {
  width: 80% !important;
}

.inner {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#header {
  padding-left: 10px;
  padding-right: 10px;
}

#header #user-menu {
  margin-top: 0;
}

#left-col {
  width: 100%;
  clear: both;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
}

.month {
  width: 50% !important;
  margin: 0 !important;
}

#dashboard-header .month {
  padding-right: 0;
}

.dashboard-project {
  width: 95%;
  padding: 0;
  padding: 10px;
  margin: 0 auto;
  clear: both;
  float: none;
  margin-top: 70px;
  padding-bottom: 30px;
}

.inner .dashboard-project h2 a {
  margin: 0;
  display: block;
  padding-left: 10px;
  padding-right: 0;
  background: white;
}

#active-projects-container,
#lost-projects-container,
#prospective-projects-container,
#completed-projects-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  clear: both;
  float: none;
  margin-top: 20px;
}

#main-body .projects-header .remaining-projects,
#main-body .projects-header .number-of-projects,
#main-body .projects-header .valued-projects,
#main-body .projects-header .billed-projects,
#main-body .projects-header .completed {
  margin: 0;
  text-align: left;
  width: 22% !important;
}

#main-body .projects-header .number-of-projects {
  width: 10% !important;
}

#main-body .projects-header .completed {
  float: right;
  text-align: right;
  width: 140px !important;
}

#main-body .project-row .project-valued,
#main-body .project-row .project-billed,
#main-body .project-row .project-remaining,
#main-body .project-row .project-payments {
  margin: 0;
  text-align: left;
  width: 16% !important;
}

#main-body .project-row {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.project-progress {
  position: absolute;
  top: 2px;
  right: 10px;
}

#right-col {
  width: 100%;
}

#dashboard-header {
  margin-top: 70px;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}
.dashboard-page .dashboard-project {
margin-top:20px;
}

.right-col-block:first-child {
  position: absolute;
  top: 110px;
  width: 95%;
  left: 2.5%;
  background: none;
  padding: 0;
  border: none;
}

.right-col-block ul.action-buttons li {
  display: block;
  float: left;
  margin-right: 2%;
  width: 49%;
}

.right-col-block ul.action-buttons li:last-child {
  margin-right: 0;
}

.right-col-block ul.action-buttons li a {
  margin-bottom: 0 !important;
}

#next-month .additional-section {
  right: 0;
  left: auto;
}

.additional-section {
  min-width: 190% !important;
  width: auto;
}

.additional-section .top-section {
  overflow: hidden;
}

/* login styles */
#login-wrapper {
  margin: 0 auto;
  overflow: hidden;
  background: url(../images/login-hawk.png) no-repeat 10px;
  margin-top: 120px;
  min-height: 400px;
}

.income-logo {
  float: left;
  width: 240px;
  background: url(../images/income-hawk-logo.png) no-repeat left top;
  display: block;
  height: 40px;
  line-height: 9999px;
  float: none;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  margin-bottom: 30px;
  margin-left: 390px;
}

.login-form {
  float: left;
  margin-left: 390px;
  width: 360px;
}

.login-form input {
  width: 300px;
}

.fieldset {
  width: 100%;
  margin: 0;
  margin-top: 20px;
}

.add-payments textarea {
  width: 100%;
}
