#tips.right-col-block
  %h3.block-title Tip
  .tip
    %p
      %strong Active Projects
      are projects that you’re currently working on.
    %p
      %strong Prospective Projects
      are projects that you’re currently bidding on but aren’t finalized yet.
    %p
      %strong Lost projects
      are where unsuccessful prospective projects go. Make sure this doesn’t rise to high
    %p
      %strong Completed projects
      are successful projects that all payments have been completed and aren’t relevant for the coming months – you can always activate a project if some more work is needed.
