#tips.right-col-block
  %h3.block-title Tip
  .tip
    %p 
      %strong Tip#1:
      Enter what you know: either first, last, or company name…just one is required.
    %p 
      %strong Tip#2:
      Be sure to add logos for you contacts to make them easy to find