.right-col-block
  %ul.action-buttons
    %li.green-button
      = link_to "Add Project", new_project_path, :class => 'add-project'
    %li.blue-button
      = link_to "Add Contact", new_contact_path, :class => 'add-contact'
